#google{
    color: rgb(69, 33, 210);
    font-size: xx-large;
}

#google3{
    color: blue;
    font-size: x-large;
}

#google7{ 
    color: blue;
    font-size: x-large;
}

#google9{
    color: blue;
    font-size: x-large;
}