@import url(/src/global/css/variables.css);

#google-trends-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0 64px 0;
  color: #ccc;
  background: var(--primary-gradient-background);
}

