/* https://codepen.io/mattmarble/pen/qBdamQz */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 84vw -100vh #fff, 14vw -74vh #fff, 23vw 95vh #fff, 57vw -67vh #fff,
    88vw 59vh #fff, 62vw 98vh #fff, 84vw 22vh #fff, 72vw 42vh #fff,
    82vw -72vh #fff, 83vw 59vh #fff, 79vw -79vh #fff, 15vw 91vh #fff,
    6vw -26vh #fff, 51vw -1vh #fff, 30vw -50vh #fff, 64vw -35vh #fff,
    64vw -6vh #fff, 78vw -82vh #fff, 62vw -9vh #fff, 6vw -20vh #fff,
    82vw 3vh #fff, 82vw 54vh #fff, 12vw 5vh #fff, 9vw -81vh #fff, 65vw 93vh #fff,
    23vw 14vh #fff, 58vw 67vh #fff, 20vw 43vh #fff, 40vw -7vh #fff,
    48vw 20vh #fff, 70vw 96vh #fff, 94vw -2vh #fff, 13vw 19vh #fff,
    98vw 16vh #fff, 49vw 43vh #fff, 2vw 50vh #fff, 60vw 98vh #fff,
    96vw 36vh #fff, 82vw 18vh #fff, 100vw -56vh #fff, 40vw -90vh #fff,
    84vw 62vh #fff, 66vw -48vh #fff, 31vw 86vh #fff, 96vw 92vh #fff,
    99vw 24vh #fff, 57vw -16vh #fff, 7vw -39vh #fff, 73vw 70vh #fff,
    19vw 94vh #fff, 38vw 61vh #fff, 45vw 88vh #fff, 65vw -70vh #fff,
    86vw -55vh #fff, 93vw -76vh #fff, 80vw 23vh #fff, 90vw -73vh #fff,
    83vw -5vh #fff, 82vw 56vh #fff, 59vw 45vh #fff, 81vw 13vh #fff,
    14vw -58vh #fff, 92vw -9vh #fff, 12vw 67vh #fff, 54vw -86vh #fff,
    53vw 11vh #fff, 60vw -36vh #fff, 14vw -31vh #fff, 22vw -63vh #fff,
    18vw 1vh #fff, 51vw 49vh #fff, 57vw 25vh #fff, 19vw 18vh #fff,
    91vw 60vh #fff, 18vw 24vh #fff, 26vw 21vh #fff, 40vw -9vh #fff,
    60vw 60vh #fff, 19vw 58vh #fff, 93vw 23vh #fff, 15vw -81vh #fff,
    26vw 49vh #fff, 33vw 71vh #fff, 6vw -56vh #fff, 32vw -52vh #fff,
    97vw 25vh #fff, 26vw 98vh #fff, 67vw 76vh #fff, 44vw 68vh #fff,
    85vw -9vh #fff, 10vw 12vh #fff, 70vw -60vh #fff, 7vw -26vh #fff,
    6vw 53vh #fff, 2vw 88vh #fff, 38vw 96vh #fff, 49vw 16vh #fff,
    26vw -94vh #fff, 80vw 48vh #fff, 80vw -3vh #fff, 64vw -69vh #fff,
    45vw 8vh #fff, 0vw -79vh #fff, 55vw -30vh #fff, 0vw 55vh #fff,
    93vw 77vh #fff, 40vw -62vh #fff, 24vw 49vh #fff, 25vw -24vh #fff,
    47vw 49vh #fff, 37vw -35vh #fff, 24vw -3vh #fff, 82vw -2vh #fff,
    18vw -68vh #fff, 98vw 74vh #fff, 74vw -35vh #fff, 79vw 76vh #fff,
    71vw 21vh #fff, 65vw 77vh #fff, 85vw 74vh #fff, 64vw -95vh #fff,
    55vw 25vh #fff, 68vw 6vh #fff, 19vw 21vh #fff, 27vw 48vh #fff,
    85vw 81vh #fff, 6vw 1vh #fff, 16vw -8vh #fff, 3vw 88vh #fff, 9vw -17vh #fff,
    46vw -98vh #fff, 77vw -25vh #fff, 67vw -65vh #fff, 13vw -90vh #fff,
    54vw 76vh #fff, 17vw -34vh #fff, 91vw 56vh #fff, 100vw 76vh #fff,
    8vw -72vh #fff, 91vw -80vh #fff, 85vw -79vh #fff, 35vw 45vh #fff,
    67vw 63vh #fff, 37vw 92vh #fff, 37vw -37vh #fff, 64vw 31vh #fff,
    16vw -35vh #fff, 18vw 3vh #fff, 69vw -96vh #fff, 54vw 13vh #fff,
    45vw -10vh #fff, 39vw -100vh #fff, 76vw 64vh #fff, 79vw -100vh #fff,
    47vw 24vh #fff, 32vw 22vh #fff, 63vw 59vh #fff, 23vw -37vh #fff,
    60vw -65vh #fff, 3vw 2vh #fff, 48vw 80vh #fff, 85vw -79vh #fff,
    33vw -53vh #fff, 19vw 59vh #fff, 90vw 46vh #fff, 45vw 90vh #fff,
    3vw -73vh #fff, 39vw -12vh #fff, 46vw -32vh #fff, 0vw 22vh #fff,
    25vw 27vh #fff, 36vw 26vh #fff, 93vw 28vh #fff, 53vw 21vh #fff,
    68vw -56vh #fff, 40vw 44vh #fff, 58vw -94vh #fff, 81vw -45vh #fff,
    13vw 61vh #fff, 23vw -69vh #fff, 23vw -7vh #fff, 0vw 23vh #fff,
    69vw 50vh #fff, 50vw 68vh #fff, 75vw 52vh #fff, 69vw -91vh #fff,
    50vw -45vh #fff, 73vw -14vh #fff, 58vw -86vh #fff, 71vw 58vh #fff,
    10vw -53vh #fff, 33vw -47vh #fff, 6vw 73vh #fff, 53vw 10vh #fff,
    93vw -31vh #fff, 66vw 37vh #fff, 41vw -13vh #fff, 77vw 9vh #fff,
    93vw 70vh #fff, 80vw 71vh #fff, 86vw -1vh #fff, 9vw -33vh #fff,
    0vw -100vh #fff, 6vw -34vh #fff, 33vw 71vh #fff, 37vw -13vh #fff,
    99vw 15vh #fff, 82vw -1vh #fff, 32vw 25vh #fff, 28vw 46vh #fff,
    94vw 97vh #fff, 2vw 58vh #fff, 36vw 66vh #fff, 92vw -100vh #fff,
    66vw 71vh #fff, 65vw 9vh #fff, 26vw -44vh #fff, 93vw 50vh #fff,
    86vw 6vh #fff, 76vw -58vh #fff, 52vw -94vh #fff, 63vw 36vh #fff,
    92vw 36vh #fff, 91vw 18vh #fff, 44vw 22vh #fff, 52vw -4vh #fff,
    95vw 72vh #fff, 53vw -39vh #fff, 5vw 56vh #fff, 95vw 99vh #fff,
    32vw 31vh #fff, 32vw 11vh #fff, 77vw 93vh #fff, 78vw -71vh #fff,
    95vw -25vh #fff, 45vw 49vh #fff, 63vw 75vh #fff, 28vw -6vh #fff,
    72vw -10vh #fff, 86vw -89vh #fff, 33vw -75vh #fff, 30vw 4vh #fff,
    33vw -73vh #fff, 30vw -55vh #fff, 77vw 65vh #fff, 41vw -23vh #fff,
    76vw 3vh #fff, 66vw 61vh #fff, 40vw 55vh #fff, 98vw 37vh #fff,
    65vw -2vh #fff, 62vw 47vh #fff, 17vw -100vh #fff, 62vw 32vh #fff,
    84vw -46vh #fff, 90vw 53vh #fff, 91vw -3vh #fff, 69vw 94vh #fff,
    30vw 97vh #fff, 19vw 27vh #fff, 7vw 17vh #fff, 62vw -69vh #fff,
    80vw 86vh #fff, 24vw -23vh #fff, 95vw 26vh #fff, 70vw 99vh #fff,
    66vw 2vh #fff, 7vw 6vh #fff, 15vw -52vh #fff, 17vw -59vh #fff,
    23vw 17vh #fff, 77vw -37vh #fff, 52vw -49vh #fff, 50vw -78vh #fff,
    77vw 59vh #fff, 31vw 18vh #fff, 12vw -51vh #fff, 19vw -77vh #fff,
    10vw -29vh #fff, 3vw -40vh #fff, 30vw 50vh #fff, 32vw 43vh #fff,
    22vw -69vh #fff, 66vw 33vh #fff, 26vw -46vh #fff, 52vw -34vh #fff,
    47vw 58vh #fff, 37vw -47vh #fff, 63vw 63vh #fff, 79vw -60vh #fff,
    65vw 12vh #fff, 11vw -77vh #fff, 60vw 31vh #fff, 22vw -87vh #fff,
    35vw -25vh #fff, 71vw -54vh #fff, 73vw -78vh #fff, 91vw 33vh #fff,
    68vw -89vh #fff, 88vw -16vh #fff, 86vw 50vh #fff, 54vw -42vh #fff,
    47vw 86vh #fff, 36vw -55vh #fff, 2vw -95vh #fff, 1vw -88vh #fff,
    49vw -1vh #fff, 39vw -95vh #fff, 51vw 41vh #fff, 15vw 6vh #fff,
    46vw 25vh #fff, 88vw 22vh #fff, 25vw 53vh #fff, 41vw 99vh #fff,
    99vw -34vh #fff, 46vw 78vh #fff, 80vw 13vh #fff, 98vw -52vh #fff,
    84vw -34vh #fff, 47vw 53vh #fff, 31vw 48vh #fff, 96vw 50vh #fff,
    37vw 95vh #fff, 46vw -31vh #fff, 86vw -55vh #fff, 89vw 22vh #fff,
    60vw 3vh #fff, 57vw 58vh #fff, 91vw -19vh #fff, 71vw 73vh #fff,
    29vw -23vh #fff, 17vw 42vh #fff, 36vw -100vh #fff, 55vw -84vh #fff,
    66vw -9vh #fff, 48vw -71vh #fff, 60vw 27vh #fff, 30vw -70vh #fff,
    43vw -50vh #fff, 64vw 2vh #fff, 53vw 27vh #fff, 23vw -60vh #fff,
    18vw 52vh #fff, 67vw -85vh #fff, 9vw -1vh #fff, 54vw -97vh #fff,
    72vw 52vh #fff, 96vw 13vh #fff, 74vw 87vh #fff, 22vw -89vh #fff,
    7vw 24vh #fff, 11vw -2vh #fff, 39vw 77vh #fff, 43vw -49vh #fff,
    95vw -36vh #fff, 30vw -72vh #fff, 7vw 96vh #fff, 4vw -94vh #fff,
    28vw -12vh #fff, 32vw 88vh #fff, 29vw 92vh #fff, 66vw 54vh #fff,
    79vw 52vh #fff, 58vw 79vh #fff, 0vw -46vh #fff, 41vw -17vh #fff,
    50vw 56vh #fff, 43vw 91vh #fff, 92vw 31vh #fff, 73vw 25vh #fff,
    4vw 14vh #fff, 94vw 94vh #fff, 24vw -99vh #fff, 97vw -44vh #fff,
    28vw -17vh #fff, 10vw 69vh #fff, 1vw -38vh #fff, 8vw -65vh #fff,
    82vw 36vh #fff, 59vw -61vh #fff, 11vw 51vh #fff, 53vw -3vh #fff,
    55vw 84vh #fff, 100vw -42vh #fff, 76vw 40vh #fff, 58vw -66vh #fff,
    32vw 5vh #fff, 30vw -57vh #fff, 22vw 40vh #fff, 69vw -97vh #fff,
    45vw 53vh #fff, 39vw 9vh #fff, 70vw 76vh #fff, 78vw -58vh #fff,
    93vw -73vh #fff, 98vw 65vh #fff, 91vw 13vh #fff, 56vw 66vh #fff,
    99vw 86vh #fff, 66vw -34vh #fff, 0vw -58vh #fff, 2vw -41vh #fff,
    83vw 13vh #fff, 89vw 66vh #fff, 26vw -53vh #fff, 38vw 97vh #fff,
    25vw -92vh #fff, 35vw -83vh #fff, 63vw -6vh #fff, 13vw 87vh #fff,
    76vw -50vh #fff, 66vw 68vh #fff, 100vw -25vh #fff, 28vw -69vh #fff,
    95vw 75vh #fff, 80vw -13vh #fff, 95vw -69vh #fff, 13vw -48vh #fff,
    82vw -36vh #fff, 90vw 37vh #fff, 69vw 3vh #fff, 22vw 14vh #fff,
    98vw -84vh #fff, 84vw -53vh #fff, 17vw -56vh #fff, 98vw 0vh #fff,
    12vw -9vh #fff, 1vw -25vh #fff, 71vw -24vh #fff, 0vw -21vh #fff,
    91vw -10vh #fff, 94vw -45vh #fff, 32vw 32vh #fff, 8vw 4vh #fff,
    90vw 71vh #fff, 63vw -64vh #fff, 76vw -46vh #fff, 7vw -31vh #fff,
    46vw -74vh #fff, 27vw -53vh #fff, 19vw 0vh #fff, 93vw -50vh #fff,
    72vw -98vh #fff, 92vw -39vh #fff, 97vw 88vh #fff, 2vw 98vh #fff,
    100vw 8vh #fff, 97vw -40vh #fff, 33vw 20vh #fff, 76vw -79vh #fff,
    80vw -60vh #fff, 32vw -20vh #fff, 28vw 23vh #fff, 27vw -64vh #fff,
    94vw 21vh #fff, 66vw -92vh #fff, 41vw 17vh #fff, 34vw 57vh #fff,
    74vw 76vh #fff, 59vw -52vh #fff, 66vw 35vh #fff, 25vw -57vh #fff,
    56vw -28vh #fff, 68vw 82vh #fff, 92vw -56vh #fff, 2vw 64vh #fff,
    44vw -53vh #fff, 91vw 80vh #fff, 81vw 79vh #fff, 20vw -29vh #fff,
    84vw 80vh #fff, 0vw -29vh #fff, 24vw 7vh #fff, 56vw -72vh #fff,
    30vw -90vh #fff, 77vw -20vh #fff, 47vw -34vh #fff, 42vw -34vh #fff,
    75vw 97vh #fff, 27vw 7vh #fff, 47vw -3vh #fff, 94vw -39vh #fff,
    80vw -68vh #fff, 73vw 41vh #fff, 85vw -92vh #fff, 77vw -50vh #fff,
    49vw 90vh #fff, 37vw -100vh #fff, 43vw -86vh #fff, 25vw -71vh #fff,
    75vw 7vh #fff, 61vw -80vh #fff, 94vw -89vh #fff, 16vw -47vh #fff,
    94vw 62vh #fff, 89vw 7vh #fff, 32vw 48vh #fff, 13vw 10vh #fff,
    37vw 80vh #fff, 71vw 98vh #fff;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 65vw -55vh #fff, 77vw 39vh #fff, 44vw -67vh #fff, 26vw 52vh #fff,
    70vw 4vh #fff, 2vw -38vh #fff, 4vw 100vh #fff, 57vw 99vh #fff,
    75vw 28vh #fff, 16vw -25vh #fff, 99vw 22vh #fff, 31vw -25vh #fff,
    85vw 97vh #fff, 16vw -70vh #fff, 66vw -70vh #fff, 78vw -36vh #fff,
    2vw -14vh #fff, 16vw -64vh #fff, 16vw 74vh #fff, 38vw 75vh #fff,
    25vw -8vh #fff, 62vw 44vh #fff, 95vw -8vh #fff, 45vw -61vh #fff,
    15vw 78vh #fff, 92vw -89vh #fff, 89vw 72vh #fff, 85vw 8vh #fff,
    98vw -47vh #fff, 46vw -37vh #fff, 0vw 2vh #fff, 8vw 40vh #fff,
    69vw -92vh #fff, 97vw -12vh #fff, 51vw 25vh #fff, 37vw -51vh #fff,
    65vw -18vh #fff, 54vw 5vh #fff, 31vw -93vh #fff, 57vw 3vh #fff,
    36vw 58vh #fff, 45vw -83vh #fff, 72vw 87vh #fff, 91vw 10vh #fff,
    52vw 76vh #fff, 50vw -4vh #fff, 9vw 76vh #fff, 16vw 76vh #fff,
    93vw 54vh #fff, 80vw -45vh #fff, 26vw -81vh #fff, 78vw 35vh #fff,
    40vw -82vh #fff, 72vw 15vh #fff, 58vw -53vh #fff, 80vw 68vh #fff,
    79vw 73vh #fff, 22vw -94vh #fff, 64vw -70vh #fff, 36vw -90vh #fff,
    37vw -82vh #fff, 14vw -41vh #fff, 5vw -3vh #fff, 34vw 14vh #fff,
    11vw 57vh #fff, 72vw -33vh #fff, 4vw -21vh #fff, 77vw 76vh #fff,
    96vw 13vh #fff, 75vw -81vh #fff, 5vw 49vh #fff, 41vw -78vh #fff,
    73vw -78vh #fff, 77vw 88vh #fff, 43vw 91vh #fff, 99vw -64vh #fff,
    83vw 12vh #fff, 56vw 53vh #fff, 2vw 28vh #fff, 44vw -77vh #fff,
    97vw 52vh #fff, 5vw 88vh #fff, 85vw 79vh #fff, 37vw 75vh #fff,
    76vw -86vh #fff, 54vw -18vh #fff, 28vw -91vh #fff, 65vw 43vh #fff,
    68vw -30vh #fff, 3vw -80vh #fff, 15vw 11vh #fff, 93vw -18vh #fff,
    69vw 26vh #fff, 23vw 20vh #fff, 94vw -9vh #fff, 94vw -16vh #fff,
    16vw 6vh #fff, 3vw -86vh #fff, 99vw -85vh #fff, 73vw 56vh #fff,
    22vw -97vh #fff, 85vw -96vh #fff, 76vw -99vh #fff, 88vw -60vh #fff,
    5vw 0vh #fff, 59vw 23vh #fff, 46vw -74vh #fff, 36vw -58vh #fff,
    80vw 41vh #fff, 99vw -77vh #fff, 80vw 77vh #fff, 73vw -34vh #fff,
    45vw -8vh #fff, 52vw -38vh #fff, 76vw -18vh #fff, 63vw -72vh #fff,
    67vw -94vh #fff, 70vw -16vh #fff, 30vw -47vh #fff, 78vw -3vh #fff,
    2vw 9vh #fff, 95vw 88vh #fff, 23vw -47vh #fff, 85vw -40vh #fff,
    21vw -48vh #fff, 5vw 24vh #fff, 91vw 23vh #fff, 66vw 49vh #fff,
    77vw 68vh #fff, 38vw 5vh #fff, 98vw -21vh #fff, 28vw 9vh #fff,
    15vw 22vh #fff, 95vw -96vh #fff, 76vw -75vh #fff, 63vw -49vh #fff,
    9vw -51vh #fff, 27vw -62vh #fff, 46vw -84vh #fff, 0vw 27vh #fff,
    76vw -96vh #fff, 93vw 6vh #fff, 49vw 65vh #fff, 86vw -45vh #fff,
    54vw 25vh #fff, 10vw 39vh #fff, 15vw 29vh #fff, 37vw 81vh #fff,
    1vw -80vh #fff, 40vw -24vh #fff, 62vw 35vh #fff, 71vw 25vh #fff,
    20vw 80vh #fff, 50vw -91vh #fff, 3vw 40vh #fff, 37vw 88vh #fff,
    71vw 9vh #fff, 29vw -16vh #fff, 42vw 22vh #fff, 4vw 76vh #fff,
    74vw 17vh #fff, 11vw -70vh #fff, 46vw 30vh #fff, 22vw 46vh #fff,
    60vw 21vh #fff, 62vw 48vh #fff, 40vw 35vh #fff, 64vw 82vh #fff,
    28vw -13vh #fff, 54vw -3vh #fff, 42vw -44vh #fff, 35vw 67vh #fff,
    14vw 90vh #fff, 88vw -92vh #fff, 93vw -41vh #fff, 98vw -25vh #fff,
    81vw -54vh #fff, 78vw -21vh #fff, 81vw -78vh #fff, 45vw 87vh #fff,
    41vw -49vh #fff, 90vw -38vh #fff, 26vw -52vh #fff, 37vw 85vh #fff,
    77vw -45vh #fff, 50vw -5vh #fff, 33vw -81vh #fff, 84vw -95vh #fff,
    42vw 66vh #fff, 80vw 18vh #fff, 51vw -7vh #fff, 19vw 7vh #fff,
    57vw 87vh #fff, 90vw 23vh #fff, 19vw -40vh #fff, 32vw 1vh #fff,
    65vw -77vh #fff, 7vw 35vh #fff, 73vw 23vh #fff, 16vw 87vh #fff,
    92vw 10vh #fff, 3vw 100vh #fff, 35vw -48vh #fff, 53vw 99vh #fff,
    29vw 55vh #fff, 18vw 98vh #fff, 54vw -61vh #fff, 25vw 72vh #fff,
    92vw 9vh #fff, 13vw -32vh #fff, 10vw 26vh #fff, 94vw -97vh #fff,
    56vw -50vh #fff, 8vw 80vh #fff, 36vw 82vh #fff, 75vw 8vh #fff,
    39vw 42vh #fff, 91vw -42vh #fff, 63vw -70vh #fff, 8vw -78vh #fff,
    20vw -80vh #fff, 11vw 37vh #fff, 86vw -16vh #fff, 27vw -7vh #fff,
    17vw -16vh #fff, 23vw 44vh #fff, 1vw -36vh #fff, 43vw 18vh #fff,
    55vw -77vh #fff, 83vw 2vh #fff, 0vw 65vh #fff, 11vw 10vh #fff,
    40vw 89vh #fff, 99vw 93vh #fff, 82vw -47vh #fff, 28vw 1vh #fff,
    63vw -87vh #fff, 62vw 4vh #fff, 68vw -27vh #fff, 17vw -68vh #fff,
    59vw -87vh #fff, 67vw -65vh #fff, 89vw 17vh #fff, 44vw -98vh #fff,
    20vw -78vh #fff, 52vw -30vh #fff, 100vw 29vh #fff, 45vw -86vh #fff,
    30vw -38vh #fff, 62vw 71vh #fff, 42vw -99vh #fff, 56vw -51vh #fff,
    46vw -76vh #fff, 23vw 36vh #fff, 36vw -11vh #fff, 50vw -53vh #fff,
    78vw 66vh #fff, 3vw 30vh #fff, 12vw 52vh #fff, 69vw 76vh #fff, 1vw 84vh #fff,
    87vw -56vh #fff, 69vw -96vh #fff, 92vw -71vh #fff, 47vw -72vh #fff,
    34vw -65vh #fff, 2vw 11vh #fff, 37vw -34vh #fff, 72vw 38vh #fff,
    51vw -15vh #fff, 56vw -72vh #fff, 64vw 78vh #fff, 78vw -99vh #fff,
    74vw -50vh #fff, 65vw 26vh #fff, 16vw 9vh #fff, 82vw -37vh #fff,
    90vw -2vh #fff, 0vw -46vh #fff, 34vw -76vh #fff, 57vw 86vh #fff,
    59vw -66vh #fff, 35vw -9vh #fff, 71vw -85vh #fff, 18vw 80vh #fff,
    92vw -73vh #fff, 52vw 4vh #fff, 70vw 37vh #fff, 46vw 21vh #fff,
    95vw -68vh #fff, 91vw -71vh #fff, 30vw 22vh #fff, 23vw -4vh #fff,
    39vw -21vh #fff, 71vw 87vh #fff, 89vw -33vh #fff, 6vw -15vh #fff,
    73vw -5vh #fff, 76vw 32vh #fff, 62vw -49vh #fff, 7vw -84vh #fff,
    33vw 86vh #fff, 96vw 7vh #fff, 90vw 55vh #fff, 92vw 48vh #fff,
    65vw -55vh #fff, 39vw 70vh #fff, 77vw 1vh #fff, 50vw -1vh #fff,
    99vw 89vh #fff, 99vw 31vh #fff, 71vw 48vh #fff, 94vw 27vh #fff,
    85vw -61vh #fff, 78vw 52vh #fff, 25vw -81vh #fff, 89vw -23vh #fff,
    46vw 40vh #fff, 57vw 9vh #fff, 69vw 30vh #fff, 9vw 0vh #fff, 27vw -12vh #fff,
    47vw -94vh #fff, 42vw 29vh #fff, 72vw -51vh #fff, 63vw 75vh #fff,
    55vw -40vh #fff, 91vw -86vh #fff, 77vw -99vh #fff, 81vw -2vh #fff,
    42vw -13vh #fff, 47vw 88vh #fff, 95vw 0vh #fff, 91vw 50vh #fff,
    63vw 3vh #fff, 36vw -46vh #fff, 76vw -35vh #fff, 88vw 6vh #fff,
    74vw -87vh #fff, 26vw -72vh #fff, 93vw -100vh #fff, 18vw 83vh #fff,
    72vw -73vh #fff, 15vw 49vh #fff, 14vw 98vh #fff, 51vw 35vh #fff,
    98vw -20vh #fff, 7vw -67vh #fff, 31vw 57vh #fff, 42vw 87vh #fff,
    37vw -54vh #fff, 51vw -89vh #fff, 2vw -53vh #fff, 68vw -38vh #fff,
    42vw 98vh #fff, 33vw -72vh #fff, 43vw -19vh #fff, 56vw 89vh #fff,
    43vw -2vh #fff, 94vw 37vh #fff, 51vw -23vh #fff, 2vw 14vh #fff,
    42vw 45vh #fff, 27vw -58vh #fff, 63vw 46vh #fff, 80vw -55vh #fff,
    74vw 1vh #fff, 5vw 75vh #fff, 55vw 30vh #fff, 9vw -60vh #fff, 5vw 39vh #fff,
    57vw 16vh #fff, 5vw 1vh #fff, 70vw -70vh #fff, 22vw 39vh #fff,
    91vw 27vh #fff, 99vw -9vh #fff, 42vw 63vh #fff, 32vw 23vh #fff,
    4vw -21vh #fff, 71vw -45vh #fff, 51vw 33vh #fff, 14vw -15vh #fff,
    47vw -43vh #fff, 44vw 38vh #fff, 81vw -64vh #fff, 80vw -93vh #fff,
    32vw 60vh #fff, 16vw -48vh #fff, 54vw 34vh #fff, 100vw -72vh #fff,
    90vw -25vh #fff, 51vw -21vh #fff, 1vw 79vh #fff, 1vw 6vh #fff,
    29vw -90vh #fff, 69vw -65vh #fff, 91vw 60vh #fff, 78vw 23vh #fff,
    0vw 61vh #fff, 80vw 19vh #fff, 22vw 38vh #fff, 47vw 11vh #fff,
    3vw 100vh #fff, 46vw -37vh #fff, 14vw -86vh #fff, 25vw 26vh #fff,
    46vw 72vh #fff, 86vw -61vh #fff, 3vw 69vh #fff, 38vw 47vh #fff,
    9vw -11vh #fff, 62vw 11vh #fff, 35vw -79vh #fff, 88vw 39vh #fff,
    54vw -48vh #fff, 51vw -51vh #fff, 73vw -96vh #fff, 50vw 24vh #fff,
    36vw 49vh #fff, 39vw -100vh #fff, 42vw -35vh #fff, 99vw -5vh #fff,
    17vw 53vh #fff, 53vw -34vh #fff, 8vw 22vh #fff, 20vw -80vh #fff,
    80vw -65vh #fff, 11vw 19vh #fff, 92vw 14vh #fff, 81vw 10vh #fff,
    93vw -53vh #fff, 3vw -85vh #fff, 77vw -7vh #fff, 2vw 83vh #fff,
    65vw -65vh #fff, 48vw -38vh #fff, 52vw 32vh #fff, 71vw 64vh #fff,
    4vw 60vh #fff, 41vw -100vh #fff, 26vw 96vh #fff, 14vw 90vh #fff,
    11vw -14vh #fff, 32vw -56vh #fff, 12vw -74vh #fff, 83vw 60vh #fff,
    94vw 16vh #fff, 100vw 86vh #fff, 18vw -42vh #fff, 62vw 16vh #fff,
    1vw 18vh #fff, 20vw 57vh #fff, 87vw -97vh #fff, 48vw 24vh #fff,
    96vw 33vh #fff, 46vw 71vh #fff, 54vw 8vh #fff, 78vw 15vh #fff,
    85vw -24vh #fff, 50vw 44vh #fff, 83vw -44vh #fff, 56vw 84vh #fff,
    82vw 12vh #fff, 16vw 47vh #fff, 23vw -40vh #fff, 77vw 0vh #fff,
    18vw -96vh #fff, 65vw -7vh #fff, 3vw -11vh #fff, 33vw -57vh #fff,
    93vw -26vh #fff, 44vw -68vh #fff, 17vw 49vh #fff, 50vw 63vh #fff,
    8vw -81vh #fff, 79vw -22vh #fff, 0vw -7vh #fff, 4vw 43vh #fff,
    86vw 94vh #fff, 39vw -60vh #fff, 60vw 35vh #fff, 42vw -84vh #fff,
    52vw 16vh #fff, 51vw 8vh #fff, 63vw 17vh #fff, 17vw -72vh #fff,
    68vw 94vh #fff, 60vw 98vh #fff, 53vw 89vh #fff, 12vw 70vh #fff,
    13vw -49vh #fff, 12vw -98vh #fff, 17vw -71vh #fff, 49vw -7vh #fff,
    61vw -99vh #fff, 64vw 10vh #fff, 57vw -6vh #fff, 79vw 92vh #fff,
    34vw 89vh #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 25vw 27vh #fff, 6vw -87vh #fff, 63vw 94vh #fff, 1vw -73vh #fff,
    60vw -34vh #fff, 68vw 7vh #fff, 0vw 99vh #fff, 64vw 48vh #fff,
    14vw 95vh #fff, 55vw -17vh #fff, 14vw -10vh #fff, 65vw 4vh #fff,
    59vw -82vh #fff, 55vw -2vh #fff, 89vw 77vh #fff, 48vw -86vh #fff,
    28vw 83vh #fff, 49vw 73vh #fff, 99vw 53vh #fff, 15vw -84vh #fff,
    34vw 63vh #fff, 95vw -4vh #fff, 38vw -64vh #fff, 77vw 53vh #fff,
    4vw 71vh #fff, 32vw 91vh #fff, 65vw -14vh #fff, 81vw -79vh #fff,
    54vw 10vh #fff, 60vw 26vh #fff, 30vw 44vh #fff, 53vw -41vh #fff,
    13vw -4vh #fff, 88vw -34vh #fff, 29vw 1vh #fff, 23vw 32vh #fff,
    56vw -29vh #fff, 20vw 20vh #fff, 21vw 76vh #fff, 6vw -98vh #fff,
    68vw 56vh #fff, 52vw -47vh #fff, 85vw -77vh #fff, 12vw 40vh #fff,
    95vw -17vh #fff, 95vw 6vh #fff, 7vw 37vh #fff, 98vw -3vh #fff,
    99vw 83vh #fff, 25vw 57vh #fff, 95vw 52vh #fff, 4vw 19vh #fff,
    92vw -70vh #fff, 63vw 77vh #fff, 1vw -95vh #fff, 50vw -68vh #fff,
    40vw -97vh #fff, 21vw 83vh #fff, 81vw 49vh #fff, 74vw -83vh #fff,
    26vw -63vh #fff, 63vw 67vh #fff, 77vw 71vh #fff, 69vw -70vh #fff,
    55vw 65vh #fff, 5vw -95vh #fff, 22vw -16vh #fff, 63vw -55vh #fff,
    38vw 84vh #fff, 48vw 3vh #fff, 42vw 37vh #fff, 17vw -22vh #fff,
    13vw 72vh #fff, 1vw -73vh #fff, 89vw 94vh #fff, 38vw 43vh #fff,
    69vw 93vh #fff, 45vw -53vh #fff, 74vw -13vh #fff, 94vw -11vh #fff,
    8vw -92vh #fff, 37vw 76vh #fff, 18vw 32vh #fff, 49vw 54vh #fff,
    30vw 61vh #fff, 82vw -11vh #fff, 92vw 70vh #fff, 90vw 88vh #fff,
    72vw 74vh #fff, 54vw -75vh #fff, 3vw 63vh #fff, 54vw 70vh #fff,
    45vw -86vh #fff, 42vw 56vh #fff, 37vw -61vh #fff, 40vw 20vh #fff,
    68vw -65vh #fff, 18vw -87vh #fff, 47vw 40vh #fff, 77vw 35vh #fff;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 89vw -80vh #fff, 15vw 70vh #fff, 53vw -23vh #fff, 71vw -41vh #fff,
    69vw 59vh #fff, 82vw -46vh #fff, 37vw 49vh #fff, 5vw -96vh #fff,
    65vw -97vh #fff, 80vw 36vh #fff, 57vw 15vh #fff, 59vw 71vh #fff,
    27vw -69vh #fff, 92vw 42vh #fff, 51vw -52vh #fff, 69vw 1vh #fff,
    62vw 57vh #fff, 92vw 83vh #fff, 86vw -40vh #fff, 70vw 69vh #fff,
    3vw 57vh #fff, 28vw -91vh #fff, 32vw 11vh #fff, 45vw 49vh #fff,
    77vw 43vh #fff, 25vw -64vh #fff, 41vw -55vh #fff, 45vw -8vh #fff,
    22vw -59vh #fff, 58vw 55vh #fff, 71vw 58vh #fff, 49vw 8vh #fff,
    96vw -90vh #fff, 86vw -36vh #fff, 59vw -60vh #fff, 44vw 71vh #fff,
    85vw -71vh #fff, 18vw -82vh #fff, 51vw -98vh #fff, 73vw -70vh #fff,
    79vw -37vh #fff, 48vw -82vh #fff, 17vw -78vh #fff, 12vw -83vh #fff,
    32vw -16vh #fff, 94vw 83vh #fff, 51vw -31vh #fff, 12vw -13vh #fff,
    11vw -37vh #fff, 93vw 67vh #fff, 40vw 96vh #fff, 8vw 63vh #fff,
    71vw 5vh #fff, 56vw -82vh #fff, 65vw -5vh #fff, 36vw 70vh #fff,
    26vw 63vh #fff, 98vw 73vh #fff, 53vw -52vh #fff, 76vw 46vh #fff,
    12vw 85vh #fff, 3vw -47vh #fff, 43vw 69vh #fff, 45vw 90vh #fff,
    0vw -7vh #fff, 64vw -98vh #fff, 13vw -22vh #fff, 43vw -65vh #fff,
    72vw -50vh #fff, 75vw -47vh #fff, 30vw 1vh #fff, 36vw 72vh #fff,
    52vw 50vh #fff, 13vw -18vh #fff, 31vw -10vh #fff, 29vw -21vh #fff,
    3vw 99vh #fff, 9vw -14vh #fff, 61vw 53vh #fff, 65vw -62vh #fff,
    55vw -33vh #fff, 74vw 47vh #fff, 62vw -78vh #fff, 41vw -63vh #fff,
    88vw 84vh #fff, 92vw -93vh #fff, 73vw 84vh #fff, 83vw 30vh #fff,
    16vw 65vh #fff, 23vw -19vh #fff, 37vw 74vh #fff, 37vw 8vh #fff,
    43vw -76vh #fff, 66vw -64vh #fff, 39vw -83vh #fff, 88vw 87vh #fff,
    78vw 57vh #fff, 19vw -60vh #fff, 66vw 100vh #fff, 13vw 23vh #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 61vw -19vh #fff, 5vw 34vh #fff, 92vw 42vh #fff, 70vw -38vh #fff,
    99vw 79vh #fff, 87vw -19vh #fff, 26vw 28vh #fff, 36vw 71vh #fff,
    88vw -99vh #fff, 18vw -19vh #fff, 53vw -14vh #fff, 51vw -93vh #fff,
    78vw -83vh #fff, 40vw -28vh #fff, 86vw 21vh #fff, 92vw 27vh #fff,
    77vw 62vh #fff, 29vw -68vh #fff, 36vw -33vh #fff, 26vw 58vh #fff,
    81vw -20vh #fff, 25vw -66vh #fff, 15vw -67vh #fff, 84vw -77vh #fff,
    8vw -55vh #fff, 0vw -27vh #fff, 44vw 6vh #fff, 32vw -89vh #fff,
    40vw -40vh #fff, 83vw -32vh #fff, 64vw 73vh #fff, 19vw -87vh #fff,
    77vw -27vh #fff, 15vw 23vh #fff, 95vw -79vh #fff, 92vw 22vh #fff,
    32vw 39vh #fff, 90vw -7vh #fff, 64vw 26vh #fff, 3vw 12vh #fff,
    70vw 46vh #fff, 55vw -31vh #fff, 49vw -87vh #fff, 3vw -60vh #fff,
    51vw 84vh #fff, 71vw 86vh #fff, 11vw 6vh #fff, 91vw 63vh #fff,
    83vw 39vh #fff, 11vw -74vh #fff, 50vw -99vh #fff, 15vw 88vh #fff,
    60vw -76vh #fff, 22vw 68vh #fff, 62vw -14vh #fff, 71vw 83vh #fff,
    86vw -39vh #fff, 18vw -46vh #fff, 9vw 31vh #fff, 64vw -28vh #fff,
    46vw -11vh #fff, 38vw -80vh #fff, 9vw 96vh #fff, 18vw 37vh #fff,
    47vw 34vh #fff, 90vw -58vh #fff, 17vw -93vh #fff, 1vw -46vh #fff,
    5vw -2vh #fff, 39vw -49vh #fff, 78vw -84vh #fff, 33vw 81vh #fff,
    38vw -50vh #fff, 26vw 91vh #fff, 20vw 99vh #fff, 28vw -91vh #fff,
    92vw -29vh #fff, 55vw 77vh #fff, 93vw -34vh #fff, 5vw 24vh #fff,
    33vw -87vh #fff, 29vw 35vh #fff, 65vw -96vh #fff, 47vw 24vh #fff,
    73vw 46vh #fff, 88vw 100vh #fff, 93vw -71vh #fff, 2vw 75vh #fff,
    20vw -51vh #fff, 68vw -100vh #fff, 65vw -78vh #fff, 43vw -61vh #fff,
    8vw 77vh #fff, 90vw 83vh #fff, 98vw -67vh #fff, 57vw 67vh #fff,
    67vw 59vh #fff, 33vw 57vh #fff, 13vw -1vh #fff, 96vw 2vh #fff;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 29vw 89vh #fff, 51vw -53vh #fff, 97vw 75vh #fff, 47vw 34vh #fff,
    68vw 71vh #fff, 8vw -78vh #fff, 17vw 42vh #fff, 76vw 64vh #fff,
    41vw 49vh #fff, 25vw -12vh #fff, 0vw 61vh #fff, 20vw 66vh #fff,
    3vw -21vh #fff, 16vw 46vh #fff, 88vw -30vh #fff, 47vw -11vh #fff,
    16vw -95vh #fff, 91vw -99vh #fff, 53vw 53vh #fff, 83vw -11vh #fff,
    59vw -36vh #fff, 73vw 16vh #fff, 87vw 96vh #fff, 7vw 4vh #fff,
    57vw 30vh #fff, 39vw 24vh #fff, 35vw -69vh #fff, 36vw -9vh #fff,
    94vw -2vh #fff, 52vw -64vh #fff, 99vw -47vh #fff, 63vw -12vh #fff,
    49vw -60vh #fff, 91vw 90vh #fff, 81vw 21vh #fff, 16vw -2vh #fff,
    30vw -91vh #fff, 63vw 12vh #fff, 24vw 21vh #fff, 42vw 92vh #fff,
    38vw -70vh #fff, 75vw 38vh #fff, 19vw 51vh #fff, 50vw -70vh #fff,
    91vw -14vh #fff, 94vw -97vh #fff, 97vw 30vh #fff, 15vw -32vh #fff,
    24vw -57vh #fff, 85vw -91vh #fff, 8vw -62vh #fff, 61vw -81vh #fff,
    88vw 46vh #fff, 45vw -76vh #fff, 31vw 51vh #fff, 94vw -20vh #fff,
    34vw 42vh #fff, 53vw -13vh #fff, 3vw -38vh #fff, 74vw -14vh #fff,
    28vw -27vh #fff, 79vw -53vh #fff, 91vw 83vh #fff, 88vw 95vh #fff,
    79vw 47vh #fff, 8vw -91vh #fff, 16vw 29vh #fff, 95vw -82vh #fff,
    64vw -36vh #fff, 83vw -13vh #fff, 71vw 85vh #fff, 21vw -62vh #fff,
    25vw -19vh #fff, 81vw -30vh #fff, 69vw -71vh #fff, 61vw 38vh #fff,
    63vw -89vh #fff, 17vw 56vh #fff, 58vw 36vh #fff, 53vw 27vh #fff,
    61vw -16vh #fff, 100vw 90vh #fff, 99vw 99vh #fff, 25vw 56vh #fff,
    1vw -80vh #fff, 68vw -49vh #fff, 63vw -89vh #fff, 85vw 82vh #fff,
    90vw -89vh #fff, 77vw 64vh #fff, 55vw -18vh #fff, 66vw 81vh #fff,
    82vw -12vh #fff, 21vw 66vh #fff, 27vw -98vh #fff, 79vw -26vh #fff,
    78vw -15vh #fff, 86vw 10vh #fff, 10vw -43vh #fff, 77vw 12vh #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

