@import url(/src/global/css/share.css);
@import url(/src/global/css/variables.css);

body {
  margin: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  font-family: "Comfortaa", cursive;
}

object {
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--accent);
}

code {
  font-family: Consolas, "courier new";
  background-color: #333;
  border-radius: 8px;
  padding: 8px;
  font-size: 105%;
}

