/* 

Ole selle failiga väga ettevaatlik!
Selle koodi muutmine võib mõjutada mitme komponendi välimust!

Iga "stiili" klass peab sisaldama klassi ".share".
Ehk .share.[sinu-klassi-nimetus]

 */

.share.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

